# String methods

In [1]:
str1 = "Kiran Kumar Kathe"

# lower() - converts all the characters of a string into lower case letters

str1.lower()

'kiran kumar kathe'

In [2]:
# upper() - converts all characters of a string into upper case letters

str1.upper()

'KIRAN KUMAR KATHE'

In [3]:
# capitalize() - Changes the first letter of a string into uppercase and remaining letters into lower case

str1 = "Kiran Kumar Kathe"

str1.capitalize()

'Kiran kumar kathe'

In [4]:
# title() - converts starting letter of a every word in a string into upper case

str1.title()

'Kiran Kumar Kathe'

In [5]:
# casefold() - converts all letter of a string into smallcase
str1.casefold()

'kiran kumar kathe'

In [6]:
# swapcase() - converts lowercase letters into uppercase and uppercase into lowercase letters

str1.swapcase()

'kIRAN kUMAR kATHE'

In [7]:
# find(substr, start, end) - used to find the index of an element from the string.Returns -1 if element is not found

str1.find('R')

-1

In [8]:
# index(substr, start, end) - return the index of first occurance of an element from a string.If element is not available 
# returns "ValueError: substring not found"

str1.index('k')

ValueError: substring not found

In [9]:
# rindex(substring) - returns the index of the substring from right side or gives the index of last occurance of a string

str1.rindex('K')

12

In [10]:
# center(width,char to fill) - center align a string into a specified width.Returns a new string padded with a specified character (space by default)
# to the specified width

str1.center(40,'*')

'***********Kiran Kumar Kathe************'

In [11]:
# ljust(width) - left-justifies the string by moving string left side and adding white spaces at the right side of a string by default, 
# or specified characters to reach desired width

str1.ljust(40,'$')

'Kiran Kumar Kathe$$$$$$$$$$$$$$$$$$$$$$$'

In [12]:
# rjust(width) - right-justifies the string by moving string right side and adding white spaces at the left side of a string by default, 
# or specified characters to reach desired width

str1.rjust(25, '^')

'^^^^^^^^Kiran Kumar Kathe'

In [13]:
# startswith - returns True if a string starts with a specified character

new_str = "Hello"
new_str.startswith('H')

True

In [14]:
# endswith() - Returns True if string ends with a specified value, if not returns False

new_str.endswith('e')

False

In [15]:
# expandtabs(tabsize) - used to replace the tab character (/t) and aligns the string to given tabsize

text = "Hello,\tworld!"

text.expandtabs(20)

'Hello,              world!'

In [16]:
# strip() - removes leading(spaces at the beginning) and trailing(spaces at ending)  whitespaces by default, can also remove any specified characters

sstring = '----Hello, world-----'

sstring.strip('-')

# lstrip() - removes leading(spaces at the beginning)  whitespaces by default, can also remove any specified characters

sstring.lstrip('-')

# rstrip() - removes trailing(spaces at ending) whitespaces by default, can also remove any specified characters

sstring.rstrip('-')

'----Hello, world'

In [17]:
# split(seperator,maxsplit) - splits a string based on given seperator into max num of elements and return in a list of elements
# default seperator is space, it splits from left side , so no lsplit will be there

text1 = "Hello, world! How are you?"

text1.split(' ',2)

['Hello,', 'world!', 'How are you?']

In [18]:
# rsplit(seperator,maxsplit) - splits a string based on given seperator into max num of elements from right side and return in a list of elements
# default seperator is space
# if maxsplits is 2 it split 2 elements with spaces and remaining into a single string 

text1 = "Hello, world! How are you?"

text1.rsplit(' ',2)

['Hello, world! How', 'are', 'you?']

In [19]:
# splitlines() - used to break a multi line string into individual lines and return each line into an element in a list

text2 = """Python is a general purpose,
simple and easy to learn
programming language"""

text2.splitlines()

# It splits based on \n or \r characters 

text3 = "Hello \n world! \r how are you ?"
text3.splitlines()

['Hello ', ' world! ', ' how are you ?']

In [20]:
# partition(seperator) - used to split a string from left side at first occurance of a specified seperator and return a tuple containing three elements

str1.partition(' ')

('Kiran', ' ', 'Kumar Kathe')

In [21]:
# rpartition(seperator) - used to split a string from right side at first occurance of a specified seperator and return a tuple containing three elements

str1.rpartition(' ')

('Kiran Kumar', ' ', 'Kathe')

In [22]:
# removeprefix(str) - removes specified element from the beggining of the string
str1.removeprefix('Kiran')

' Kumar Kathe'

In [23]:
# removesuffix(str) - removes specified element from the ending of the string
str1.removesuffix('Kathe')

'Kiran Kumar '

In [24]:
# count(substring, start=0, end=len(str)) - Returns the number of occurances of a substring within a string

str1.count('K')

3

In [25]:
# join(list) - used to concatenate elements of an iterable into a string

lis1 = ['Hello','hii','whatsup']

''.join(lis1)

'Hellohiiwhatsup'

In [26]:
# zfill(width) - fills zeros at the beginning of the string to make the string of given width
company = 'Google'

company.zfill(15)

'000000000Google'

In [27]:
# replace(oldstring, newstring) - replaces all occurances of a specified substring with another substring, 
# creates a new string won't make changes in existing string
# we can also give how many times to replace a oldstring 

sen = "This is demo, this is another demo"

sen.replace('demo','test',1)

'This is test, this is another demo'

In [28]:
# encode() - converts the string into a byte code object based on specified encodind format
# Realtime usage : Send data over a network, write data to files or database, interact with external libraries or API's

message = "Hello, World!"
formatted_message = f"The message is: {message.encode('utf-8')}"

formatted_message

"The message is: b'Hello, World!'"

In [29]:
# format() - used to insert values into a strings placeholder which is defined by using curly brackets {}

txt = 'Hello {}'
txt.format('World')

'Hello World'

In [30]:
# format_map() - used to format strings by substituting placeholders with values from a dictionary

person_details = {'name':'Alice', 'age':25}

'My name is {name}, and my age is {age}'.format_map(person_details)

'My name is Alice, and my age is 25'

In [31]:
# maketrans(oldstr,newstr,to_del_str) -creates a translation table that can be used with translate() , this makes each character maps 
# each char in a string to another char 

# translate() - uses the translation table created by maketrans() to replace a character in a original string 

original_text = "abcde"
trans_table = str.maketrans("abc", "123")
translated_text = original_text.translate(trans_table)
print(translated_text)

# Realtime usage: Data cleaning, encoding transformation,textformatting

123de

In [32]:
# isalpha() - Returns True if all the elements in a string are alphabets, else False
# Note: if there is space in the string it returns False  

str3 = "Google"

str3.isalpha()

True

In [33]:
#isnumeric() - returns True if all characters of string contains numbers of any lanuguage may be in chineses also

'1234'.isnumeric()

True

In [34]:
# isalnum() - returns True if the string consists of alphabets and numbers, else False

str2 = 'Kiran123'

str2.isalnum()

True

In [35]:
# isdecimal() - Returns True if the string consists of decimal in a string, returns false if there are any fractions/floating numbers
# **Note:** It won't work for integers only work for strings 

num1 = '23'

num1.isdecimal()

True

In [36]:
# isdigit() - returns True if all characters in the string are digits not only standard decimal digits but also from 
# numeral systems such as superscript digits, fraction and other languages
# **Note:** Roman numerials are included in this category like Ⅻ 

print("123".isdigit())       
print("٢٣٤".isdigit())         
print("123.45".isdigit())      
print("Ⅻ".isdigit())

True
True
False
False

In [37]:
# islower() - returns True if all the characters in a string are in lower case

company = 'microsoft'
company.islower()

True

In [38]:
# isupper() - returns True if all the characters in a string are upper case letters

ustr = "GOOGLE"
ustr.isupper()

True

In [39]:
# istitle() - returns True if all the first characters of a string are uppercase letters

str1.istitle()

True

In [40]:
# isprintable() - returns True if all the characters in a string are printable like letters, digits, punctuations and whitespace characters
# returns False if it contain non-printable characters like newline or tab characters

pstr = 'Kiran \n Kumar'

pstr.isprintable()

False

In [41]:
# isidentifier() - returns True if a string is a valid identifier

id = 'Name' 
id.isidentifier()

# id1 = '1Name' 
# id1.isidentifier()

True

In [42]:
# isspace() - returns True if all the characters in a string are whitespaces

s = " "
s.isspace()

True

# Data Structures

# List[]

In [43]:
# ordered collection of mutable values, enclosed with [] and can be accessiable with index

# Pnemonic: CRISP ACER IC

# CRISP

In [44]:
# copy() - copies elements of a list into another variable and it is shollow copy as it won't copy the nested level
a = [1, 2, 3, 4, 5]
b = a.copy()
b

[1, 2, 3, 4, 5]

In [45]:
# remove(item) - removes specified item from a list

a.remove(3)
a

[1, 2, 4, 5]

In [46]:
# 3.insert(index, element) - adds an element at the specified index position

a.insert(1, 11)
a

[1, 11, 2, 4, 5]

In [47]:
# sort() - sort the elements in the ascending order
# sort(reverse = True) - sort the order of the elements in descending order
b.sort()
b

[1, 2, 3, 4, 5]

In [48]:
b.sort(reverse=True)
b

[5, 4, 3, 2, 1]

In [49]:
# pop(index) - removes item based on index from the list and returns the removed item 
a.pop(1)

11

# ACER

In [50]:
# append(element) - adds an element at the end of the list

a = [1, 2, 3, 4, 5]

a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [51]:
# count(element) - returns the number of occurances of an element
a.count(6)

1

In [52]:
# extend(iterable) - adds elements of an iterable into a current list

b = [7, 8, 9]

a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
# reverse() - reverse the order of the list
b.reverse()

# IC

In [54]:
# index(item) - returns index position of the specified item

a.index(5)

4

In [55]:
# clear() - removes all elements of a list making it empty
b.clear()

# Tuple()

In [56]:
# Group of immutable values, enclosed with round brackets, and can be accessed with index

a = (1,2,3,4,5,5,5)

# Pnemonic: IC

In [57]:
# index(element) - returns the index of first occurance of an element
a.index(5)

4

In [58]:
# count(element) - return the number of occurances of the list 
a.count(5)

3

# set{}

In [59]:
# Group of unique values enclosed with curly brackets {} and are unindexed and unordered
s = {1,2,3,4,5,4,5}
s

{1, 2, 3, 4, 5}

# Pnemonic: RD CUPID ASCIII

# RD

In [60]:
# remove(element) - Removes the specified element from a set if present, if not present raises KeyError
s.remove(1)

In [61]:
# discard(element) - removes an element from the set if element is present, won't raise any KeyError if element is not present
s.discard(1)

# CUPID

In [62]:
# clear() - removes all the elements from the set and makes it empty set
s.clear()

In [65]:
# union() - combines all elements of both set and returns all the elements from both the sets
s1 = {1,2,3,4,5,4,5}
s2 = {6,7,8,9,10}

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [67]:
# pop() - Removes an element from the set and returns the element removed, raises TypeError if the set is empty, it won't take any arguments 
s.pop()

KeyError: 'pop from an empty set'

In [68]:
# intersection() - returns a new set containing common elements in both the sets
s1.intersection(s2)

set()

In [69]:
# difference() - return a new set with the elements that are not present on another set
s1.difference(s2)

{1, 2, 3, 4, 5}

# ASCIII

In [70]:
# add(element) - adds an element to the set if element is not present, if present set remains unchanged

s.add(6)

In [71]:
# symmetric_difference() - removes the common elements from both the sets and returns a new set containing remaining element from both sets 
s1.symmetric_difference(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [72]:
# copy() - copies elements of a set into another variable
s1 = {1, 2, 3, 4, 5, 6}
s2 = s1.copy()
s2

{1, 2, 3, 4, 5, 6}

In [73]:
# isdisjoint() - returns True if there are no common elements in both the sets 
s1.isdisjoint(s2)

False

In [74]:
# issubset() - returns true if every element of first set are present in second set
s3 = {1, 2, 3, 4, 5, 6, 7}
s4 = {1, 2, 3, 4}

s4.issubset(s3)

True

In [75]:
# issuperset() - returns true if every element of second set are present in first set

s3.issuperset(s4)

True

# dictionary{key:value}

In [76]:
# group of ordered Key:Value pairs enclosed with curly brackets{}.Keys should be unique and Values may be duplicate
dict1 = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
dict1

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

# I Know Very Good People, Some Understand FuZzy Pop Cats Carefully

In [77]:
# items() - returns a view object of list of [(key1:value1),(key2:value2),(key3:value3)] the key value pairs in a dictionary
dict1.items()

dict_items([('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)])

In [78]:
# keys() - returns a list of keys in a dictionary
dict1.keys()

dict_keys(['one', 'two', 'three', 'four', 'five'])

In [79]:
# values() - returns a list of values in a dictionary
dict1.values()

dict_values([1, 2, 3, 4, 5])

In [80]:
# get(Key) - returns a value associated with a specified key, if key is not present returns None or default value if specified
dict1.get('one')

# set default values if key is not present
dict1.get('six','Not found')

'Not found'

In [81]:
# pop(key) - Removes and returns a value associated with a specified key, if not present raises a KeyError if no default value is specified
# dict1.pop('five')
dict1.pop('six','No Key Found')

'No Key Found'

In [82]:
# setdefault(Key,default value) - if key is already present returns the value, if key is not present, set default to that key or set None
dict1.setdefault('six',6)

dict1.setdefault('five')

5

In [83]:
# update(dict) - adds or update dictionary items with another dict items

dict2 = {'seven':7, 'eight':8}
dict1.update(dict2)
dict1

{'one': 1,
 'two': 2,
 'three': 3,
 'four': 4,
 'five': 5,
 'six': 6,
 'seven': 7,
 'eight': 8}

In [84]:
# fromkeys(keys,value) - used to create a dict with keys in a iterable and values will be same for all the keys
keys = ('one','two')
values = 0
dict3 = dict.fromkeys(keys,values)

In [85]:
# popitem() - removes the last inserted key:value pair and returns as a tuple (key:value), raises a KeyError if key is not present
dict1.popitem()

('eight', 8)

In [86]:
# dict(zip(keys,values)) - used to create a dict with two iterable of same length
keys = ['one','two','three']
values = [1,2,3]

dict4 = dict(zip(keys,values))
dict4

{'one': 1, 'two': 2, 'three': 3}

In [87]:
# clear() - clear all the dictionary making it empty dict
dict3.clear()
dict3

{}

In [88]:
# copy() - copies elements of one dictionary into another dictionary
dict3 = dict2.copy()
dict3

{'seven': 7, 'eight': 8}